<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.adage.legerdemain.colza.libgen">
    <application>
<activity
android:name = "com.volkswagen.deplane.ineradicable.FurryDandyActivity"
android:exported="false"
android:configChanges="layoutDirection"
android:windowSoftInputMode="adjustPan"
/>

    </application>
</manifest>
